<!DOCTYPE html>
<html>
  <head>
    <link
      rel="icon"
      href="{{ url_for('static', filename='logo.ico') }}"
      type="image/x-icon"
    />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home Page</title>
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header>
        <div class="content-width">
          <h1>Welcome to Our Recipe Website</h1>
          <p>
            <em>Discover and enjoy a variety of delicious recipes.</em>
          </p>
        </div>
      </header>

      {% include 'navbar.html' %}

      <div class="content-width">
        <h2>Featured Recipes</h2>
        <div class="recipe">
          <h3>Sweet Strawberry Cheesecake</h3>
          <p>
            In a bowl, combine graham crack...<a
              href="{{ url_for('straw_cheesecake') }}"
              ><sub>see more</sub></a
            >
          </p>
        </div>
        <div class="recipe">
          <h3>Beef Nihari</h3>
          <p>
            Slow cooked chun...<a href="{{ url_for('Beef_Nihari') }}"
              ><sub>see more</sub></a
            >
          </p>
        </div>

        <!-- Add more featured recipes as needed -->

        <h2>Explore All Recipes</h2>
        <p>
          Discover a wide range of recipes and culinary delights. Start
          exploring now!
        </p>
        <a href="{{ url_for('recipe_page') }}" class="explore-button"
          >Explore Recipes</a
        >
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
