<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Recipe Website</title>
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'navbar.html' %}

    <main class="content-width">
      <h1>Recipes</h1>
      <!-- Display recipes -->
      {% for recipe in recipes %}
      <div class="recipe">
        <h2>{{ recipe.title }}</h2>
        <p>{{ recipe.content }}</p>
      </div>
      {% endfor %}
    </main>
  </body>
</html>
