<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to the Recipe Page</title>
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header>
        <div class="content-width">
          <h1>Welcome to the Recipe Page</h1>
          <p>Explore delicious recipes for breakfast, lunch, and dinner.</p>
        </div>
      </header>

      {% include 'navbar.html' %}

      <div class="content-width">
        <section>
          <h2>Breakfast Recipes</h2>
          <ul>
            <li>
              <a href="{{ url_for('classic_pancakes')}}">Classic Pancakes</a>
            </li>
            <li>
              <a href="{{ url_for('avo_toast')}}">Avocado Toast</a>
            </li>
            <li>
              <a href="{{ url_for('greek_yoghurt')}}">Greek Yoghurt Parfait</a>
            </li>
            <li>
              <a href="{{ url_for('break_burrito')}}">Breakfast Burrito</a>
            </li>
            <li>
              <a href="{{ url_for('egg_cheese_sando')}}"
                >Egg and Cheese Sandwich</a
              >
            </li>
          </ul>
        </section>

        <section>
          <h2>Lunch Recipes</h2>
          <ul>
            <li>
              <a href="{{ url_for('Chicken_Salad')}}">Grilled Chicken Salad</a>
            </li>
            <li>
              <a href="{{ url_for('Caprese_Sando')}}">Caprese Sandwich</a>
            </li>
            <li>
              <a href="{{ url_for('Turkey_Skewers')}}">Turkey Skewers</a>
            </li>
            <li>
              <a href="{{ url_for('Chicken_Biryani')}}">Chicken Biryani</a>
            </li>
            <li>
              <a href="{{ url_for('Chicken_Curry')}}">Chicken Curry</a>
            </li>
          </ul>
        </section>

        <section>
          <h2>Dinner Recipes</h2>
          <ul>
            <li>
              <a href="{{ url_for('Chicken_Tikka_Pizza')}}"
                >Chicken Tikka Pizza</a
              >
            </li>
            <li>
              <a href="{{ url_for('Butter_Chi_Tacos')}}"
                >Butter Chicken Tacos</a
              >
            </li>
            <li>
              <a href="{{ url_for('Cajun_Pasta')}}">Cajun Pasta</a>
            </li>
            <li><a href="{{ url_for('Lamb_Gyro')}}">Lamb Gyro Bowl</a></li>
            <li><a href="{{ url_for('Jollof')}}">Jollof Rice</a></li>
          </ul>
        </section>
      </div>
    </main>
  </body>
</html>
