<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to the Recipe Page</title>
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header>
        <div class="content-width">
          <h1>Welcome to the Recipe Page</h1>
          <p>Explore delicious recipes for breakfast, lunch, and dinner.</p>
        </div>
      </header>

      {% include 'navbar.html' %}

      <div class="content-width">
        <section>
          <h2>Breakfast Recipes</h2>
          <ul>
            <li>
              <a href="{{ url_for('classic_pancakes')}}">Classic Pancakes</a>
            </li>
            <li>
              <a href="{{ url_for('avo_toast')}}">Avocado Toast</a>
            </li>
            <li>
              <a href="{{ url_for('greek_yoghurt')}}">Greek Yoghurt Parfait</a>
            </li>
            <li>
              <a href="{{ url_for('break_burrito')}}">Breakfast Burrito</a>
            </li>
            <li>Recipe 5 - Breakfast</li>
            <li>Recipe 6 - Breakfast</li>
            <li>Recipe 7 - Breakfast</li>
            <li>Recipe 8 - Breakfast</li>
            <li>Recipe 9 - Breakfast</li>
            <li>Recipe 10 - Breakfast</li>
          </ul>
        </section>

        <section>
          <h2>Lunch Recipes</h2>
          <ul>
            <li>Recipe 1 - Lunch</li>
            <li>Recipe 2 - Lunch</li>
            <li>Recipe 3 - Lunch</li>
            <li>Recipe 4 - Lunch</li>
            <li>Recipe 5 - Lunch</li>
            <li>Recipe 6 - Lunch</li>
            <li>Recipe 7 - Lunch</li>
            <li>Recipe 8 - Lunch</li>
            <li>Recipe 9 - Lunch</li>
            <li>Recipe 10 - Lunch</li>
          </ul>
        </section>

        <section>
          <h2>Dinner Recipes</h2>
          <ul>
            <li>Recipe 1 - Dinner</li>
            <li>Recipe 2 - Dinner</li>
            <li>Recipe 3 - Dinner</li>
            <li>Recipe 4 - Dinner</li>
            <li>Recipe 5 - Dinner</li>
            <li>Recipe 6 - Dinner</li>
            <li>Recipe 7 - Dinner</li>
            <li>Recipe 8 - Dinner</li>
            <li>Recipe 9 - Dinner</li>
            <li>Recipe 10 - Dinner</li>
          </ul>
        </section>
      </div>
    </main>
  </body>
</html>
