<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign In</title>
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header>
        <div class="content-width">
          <h1>Sign In</h1>
        </div>
      </header>

      {% include 'navbar.html' %}

      <div class="signin-form">
        <form
          method="post"
          action="{{ url_for('signin') }}"
          class="signin-form"
        >
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />

          <button type="submit">Sign In</button>
        </form>
      </div>
      <!-- Add this below the existing form in your HTML -->
      <div class="forgot-password">
        <p>
          Forgot Password?
          <a href="{{ url_for('forgot_password') }}">Reset it here</a>.
        </p>
      </div>
      <div class="forgot-password">
        <p>
          Want to sign up?
          <a href="{{ url_for('forgot_password') }}">Sign up here</a>.
        </p>
      </div>
    </main>
  </body>
</html>
